<div class="floatingLabel" data-dojo-attach-point="floatingLabel">
    <form>
        <div class="input-group" data-dojo-attach-point="inputNodes">
            <input type="text" class="form-control question" name="message" rows="2" class="question" id="msg" data-dojo-attach-point="fancyInput" required autocomplete="off">
            <label for="msg" id="textLabel"><span>What's your name?</span></label>
        </div>
    </form>
    <div class="helloworld-infoTextNode" data-dojo-attach-point="infoTextNode" />
</div>

